<footer class="px-5">
  <div
    class="max-w-screen-lg mx-auto border-t-2 border-ghost-white py-5 flex justify-between items-center flex-wrap gap-5 text-sm ">
    <p>© 2025. Tanadol Deachprapakorn</p>
    <div class="flex items-center gap-5">
      <b>Hire me</b>
      <a href="mailto:{{ site.data.personal.email }}""><span
          class=" material-symbols-outlined !text-[24px] pt-1">
        mail
        </span>
      </a>
      <a href={{ site.data.personal.github }} target="_blank" rel="noopener noreferrer"><i
          class="devicon-github-original !text-[24px]"></i>
      </a>
      <a href={{ site.data.personal.linkedin }} target="_blank" rel="noopener noreferrer"><i
          class="devicon-linkedin-plain !text-[24px]"></i></a>
    </div>
  </div>
</footer>