<nav class="flex gap-4">
  {% for item in site.data.nav %}
  <a href="{{ item.href }}"
    class="text-cool-gray hover:text-ghost-white focus:text-ghost-white relative group outline-none">
    <span class="material-symbols-outlined text-[24px]">{{ item.icon }}</span>
    <span
      class="absolute -bottom-full left-1/2 -translate-x-1/2 px-2 py-1 text-sm rounded bg-gray-800 opacity-0 group-hover:opacity-100 group-focus:opacity-100 transition-opacity pointer-events-none">
      {{ item.label }}
    </span>
  </a>
  {% endfor %}
</nav>