---
---

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-color: #1c1a1f;
  font-family: "Atkinson Hyperlegible", sans-serif;
  min-height: 100vh;
  scroll-behavior: smooth;
}

a {
  @apply text-inherit cursor-pointer relative inline-flex;
}

a::before,
a::after {
  background: white;
  bottom: 0.1px;
  content: "";
  height: 0.1em;
  min-height: 1px;
  left: 0;
  position: absolute;
  will-change: transform;
  transform-origin: 0 100%;
}

a::before {
  width: 100%;
}

a::after {
  width: 0%;
}

a:hover::before {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
}

a:hover::after {
  width: 100%;
  transform-origin: left;
  transition: width 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition-delay: 0.25s;
}

footer {
  margin-top: auto;
}

li::marker {
  content: "- ";
}

.code {
  font-family: "Courier New", Courier, monospace;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.hyperlink-icon {
  display: inline;
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: top;
}

#content {
  animation: fadein 1s linear forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slide-up {
  animation: slide-up 0.85s cubic-bezier(0.65, 0, 0.35, 1) both;
}

@keyframes slide-up {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
.card {
  @apply border-white border-solid border p-4 w-64 rounded-md;
}
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
