---
layout: base
---
<div class="[@media(max-height:700px)]:h-full h-dvh px-5">
  <div class="bg-shape bg-gradient absolute right-1/4 top-1/2 bg-blur"></div>
  <section class="max-w-screen-lg mx-auto flex flex-col gap-8 h-full pt-5 justify-center slide-up">
    <div class="flex flex-col w-full justify-center gap-2">
      <h1 class='text-xl sm:text-4xl'>Hi, I'm</h1>
      <h1 class='text-2xl sm:text-5xl'>{{ site.data.personal.name }}</h1>
      <h1 class='text-2xl sm:text-5xl'>I am a <em>{{ site.data.personal.position }}</em>.</h1>
    </div>
    <p class="text-lg leading-relaxed w-full max-w-[650px]">
      {{ site.data.personal.bio }}
    </p>
    <div class="flex flex-row gap-2 flex-wrap">
      <div class="card w-64">
        <p class="text-lg">Cross Platform Development using <a href="https://flutter.dev/" target="_blank"
            rel="noopenner noreferrer">Flutter</a></p>
      </div>
      <div class="card w-64">
        <p class="text-lg">Web Development using <a href="https://react.dev/" class="styled-link" target="_blank"
            rel="noopenner noreferrer">React</a>
          and <a href="https://nextjs.org/" class="styled-link" target="_blank" rel="noopener noreferrer">Next.js</a>
        </p>
      </div>
    </div>
    <div class="text-lg">
      <a href={{ site.data.personal.resume }} class="styled-link" target="_blank" rel="noopener noreferrer">RESUME
        HERE.</a>
    </div>
    <div class="flex flex-row gap-6 text-[30px] items-center">
      <a href="mailto:{{ site.data.personal.email }}""><span
          class=" material-symbols-outlined !text-[30px]">
        mail
        </span>
      </a>
      <a href={{ site.data.personal.github }} target="_blank" rel="noopener noreferrer"><i
          class="devicon-github-original"></i>
      </a>
      <a href={{ site.data.personal.linkedin }} target="_blank" rel="noopener noreferrer"><i
          class="devicon-linkedin-plain"></i></a>
    </div>
    <div class="animate-bounce opacity-75">
      <p>Scroll to see more...</p>
    </div>
  </section>
</div>

<div class="p-5">
  <section class="max-w-screen-lg mx-auto">
    <div class="border-white border-b-2 mb-6">
      <h2 class="text-4xl">Education</h2>
    </div>
    {% for e in site.data.education %}
    <div class="flex flex-col sm:flex-row mb-6 text-lg gap-4">
      <p class="sm:w-1/6"><b>{{ e.period }}</b></p>
      <p class="sm:w-5/6">{{ e.degree }}, {{ e.institution }} ({{ e.details }})</p>
    </div>
    {% endfor %}

    <div class="border-white border-b-2 mb-6">
      <h2 class="text-4xl">Work</h2>
    </div>
    {% for w in site.data.work %}
    <div class="flex flex-col sm:flex-row mb-6 text-lg gap-4 leading-relaxed">
      <p class="sm:w-1/6"><b>{{ w.period }}</b></p>
      <div class="sm:w-5/6">
        <p class="font-bold mb-2">{{ w.title }}, <a href={{ w.company_url }} class="styled-link" target="_blank"
            rel="noopener noreferrer">{{
            w.company }}</a></p>
        <ul>
          {% for d in w.details %}
          <li>{{ d }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}

    <div class="border-white border-b-2 mb-8">
      <h2 class="text-4xl">Projects</h2>
    </div>

    <div class="project-grid">
      {% assign projects = site.projects | reverse %}
      {% for p in projects %}
      <div class="border p-5 border-gray-500">
        <div class="flex flex-col justify-between h-full gap-5">
          <div class="flex flex-col">
            <a href="{{ p.permalink }}" target="_blank" rel="noreferrer">
              <img class="h-60 w-60 mx-auto object-cover styled-img mb-5" src={{ p.image.src }} alt={{ p.image.alt }} />
            </a>
            <!-- header -->
            <a href="{{ p.permalink }}" target="_blank" rel="noreferrer" class="styled-link mb-4 w-fit">
              <h3 class="text-lg">{{ p.title }}</h3>
            </a>
            <p class="leading-relaxed">
              {{ p.description }}
            </p>
          </div>
          <!-- footer -->
          <div class="code">
            <p>
              Year: {{ p.year }}
            </p>
            <p>
              {{ p.type }}: {{ p.tech }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</div>