---
layout: base
---
<div class="p-5">
  <div class="max-w-screen-lg mx-auto">
    <div class="flex justify-end">
      {%- include navbar.html -%}
    </div>

    <article class="space-y-4 sm:space-y-8 my-8" itemscope itemtype="http://schema.org/BlogPosting">

      <header class="flex gap-4 sm:gap-8 flex-col items-center text-center">
        <p class="space-x-2 sm:text-lg">
          <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {{ page.date | date_to_string: "ordinal", "US" }}
          </time>
          <span>·</span>
          <span class="text-cool-gray" itemprop="timeRequired">{{ page.read_time }} min read</span>
        <h1 class="text-3xl sm:text-4xl" itemprop="name headline">{{ page.title | escape }}</h1>
        <p class="sm:text-lg text-cool-gray code">{{ page.tags | join: ", "}}</p>
      </header>

      <div class="markdown-body" itemprop="articleBody">
        {{ content }}
      </div>
    </article>
  </div>
</div>